# secrets — never commit
.env
.env.local
.env*.local

# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# vercel
.vercel

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-error.log*
next-env.d.ts
